
@media screen and (max-width:1200px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

@media screen and (max-width:1024px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

@media screen and (max-width:768px) 
{
    .container {
        width: 90%;
        margin: 0 auto;
    } 

    .select-value {
        font-size: 8px;
    }
}

@media screen and (max-width:530px) 
{
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .form-select {
        width: 200px;
    }
    
    option {
        width: 1000px;
    }
    .select-value {
        font-size: 8px;
    }
}

.header {
    background-color: rgb(243, 243, 243);
}

h1 {
    padding: 0px 0px 10px 0px;
}
#img_logo {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    
}

.text-logo {
    transition: all 0.3s;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.text-logo:hover {
    box-shadow: 0 5px 10px;
    top: 1px;
}

.alert {
    position: relative;
}
.about {
    text-align: justify;
}
.alert:hover {
    box-shadow: 0 5px 10px;
    top: 5px;
    /* cursor: pointer; */
}

.form-control {
    cursor: pointer;
}


.footer {
    background-color: rgb(100, 95, 95);
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.footer h6 {
    color: white;
}
