
@media screen and (max-width:1200px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

@media screen and (max-width:1024px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

@media screen and (max-width:768px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

@media screen and (max-width:530px) 
{
    .container {
        width: 90%;
        margin: 0 auto;

    } 
}

.header {
    background-color: rgb(243, 243, 243);
}

#img_logo {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    
}

.text-logo {
    transition: all 0.3s;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.text-logo:hover {
    box-shadow: 0 5px 10px;
    top: 1px;
}

.alert {
    position: relative;
}

.alert:hover {
    box-shadow: 0 5px 10px;
    top: 5px;
    cursor: pointer;
}
